/* Uncomment to run shadcn init */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility ease-out-cubic {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

@utility ease-curve-a {
  transition-timing-function: linear;
}

@utility ease-curve-c {
  transition-timing-function: cubic-bezier(0, 0.56, 0.46, 1);
}

@utility ease-curve-d {
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

@utility transition-toc {
  transition-property: opacity, transform, max-height;
}

@utility content-container {
  margin-left: var(--article-gutter-size);
  margin-right: var(--article-gutter-size);
  margin-bottom: 16px;
  width: var(--article-container-size);
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@layer components {
  .ais {
    @apply flex flex-col gap-2 rounded-lg p-4;
    @apply border-border bg-background border;
    @apply w-full;
  }

  .ais-header {
    @apply mt-4 flex items-center justify-between md:mt-0;
  }

  .ais-container {
    @apply flex h-full w-full flex-col overflow-hidden;
    @apply bg-popover text-popover-foreground rounded-lg border;
    @apply border-border;
  }

  .ais-form {
    @apply border-border flex items-center border-b px-4;
  }

  .ais-svg {
    @apply mr-2 h-4 w-4 shrink-0 opacity-50;
  }

  .ais-search {
    @apply flex h-10 w-full rounded-md py-3;
    @apply bg-transparent outline-none;
    @apply placeholder:text-muted-foreground text-sm;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-visible:border-0 focus-visible:ring-0 focus-visible:outline-none;
  }

  .ais-panel {
    @apply flex flex-col gap-2;
    @apply py-2;
  }

  .ais-source {
    @apply flex flex-col gap-2 px-2;
  }

  .ais-source-id {
    @apply text-muted-foreground px-2 text-sm font-bold;
    @apply capitalize;
  }

  .ais-source-list {
    @apply flex flex-col gap-1;
    @apply max-h-[240px] overflow-x-hidden overflow-y-auto;
  }

  .ais-source-item {
    @apply relative flex items-center gap-1 rounded-md px-2 py-3;
    @apply text-muted-foreground opacity-100;
    @apply transition-[background-color,opacity,transform] duration-200 ease-in-out;
    @apply cursor-pointer;
    @apply w-full;
    transform: scale(1);
  }

  .ais-source-item--deleting {
    @apply opacity-0;
  }

  .ais-source-item--favoriting {
    transform: scale(0.9);
    @apply opacity-0;
  }

  .ais-recent .ais-action {
    @apply absolute top-1/2 -translate-y-1/2;
    @apply opacity-0 transition-opacity duration-200 ease-in-out;
    @apply !border-transparent !bg-transparent !shadow-none !outline-none;
    @apply cursor-pointer;
  }

  .ais-recent .ais-action:hover {
    @apply !bg-gray-300/75 !text-gray-950 dark:!bg-gray-400/50 dark:!text-gray-50;
  }

  .ais-recent .ais-favorite {
    @apply right-12;
  }

  .ais-recent .ais-remove {
    @apply right-2;
  }

  .ais-source-item:hover {
    @apply bg-muted text-muted-foreground;
  }

  .ais-source-item > div {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    line-height: 1.2em;
    margin: 0 8px;
    overflow-x: hidden;
    position: relative;
    text-overflow: ellipsis;
    width: calc(100% - 96px);
    white-space: nowrap;
  }

  .ais-source-item[aria-selected="true"] {
    @apply bg-gray-100 text-gray-950 dark:bg-neutral-900 dark:text-neutral-200;
  }

  .ais-source-item[aria-selected="true"]:hover {
    @apply bg-gray-200 text-gray-950 dark:bg-neutral-800 dark:text-neutral-100;
  }

  .ais-recent
    .ais-action:is(.ais-source-item[aria-selected="true"]:hover > .ais-action) {
    @apply opacity-100;
  }

  .ais-footer {
    @apply flex flex-col items-center justify-between px-4 py-2 sm:flex-row;
    @apply border-border border-t;
  }

  .ais-logo {
    @apply flex items-center gap-2;
    @apply order-2;
    @apply text-muted-foreground text-xs;
  }

  .ais-logo-image {
    @apply invert dark:invert-0;
  }

  .ais-commands {
    @apply hidden items-center gap-3 sm:flex;
    @apply order-1;
  }

  .ais-command {
    @apply flex items-center gap-1;
    @apply rounded-md;
    @apply text-muted-foreground text-sm;
  }

  .ais-kbd {
    @apply flex items-center justify-center;
    @apply bg-muted text-muted-foreground rounded-md px-1 py-1 text-xs font-medium;
    @apply shadow-sm;
    @apply border-border border;
  }

  .ais-kbd > svg {
    @apply h-3 w-3;
  }
}
