/* For shiki syntax highlighting
   @see https://shiki.style/guide/dual-themes#query-based-dark-mode
*/
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
.content {
  /* For general text, unless specified otherwise */
  @apply text-neutral-800 dark:text-neutral-300;
}

.content h1 {
  @apply mx-[var(--article-gutter-size)] mb-4 w-[var(--article-container-size)];
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  @apply font-bold lg:font-black;
  @apply text-neutral-950 dark:text-neutral-50;
}

.content h2 {
  @apply mx-[var(--article-gutter-size)] mb-6 w-[var(--article-container-size)];
  @apply text-lg sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
  @apply font-bold lg:font-black;
  @apply text-neutral-950 dark:text-neutral-50;
}

.content h3 {
  @apply mx-[var(--article-gutter-size)] mb-4 w-[var(--article-container-size)];
  @apply text-base sm:text-lg;
  @apply font-bold lg:font-black;
  @apply text-neutral-950 dark:text-neutral-50;
}

.content p {
  @apply mx-[var(--article-gutter-size)] w-[var(--article-container-size)];
  @apply mb-12;
  @apply text-sm sm:text-base;
}

.content ul,
.content ol {
  @apply mx-auto w-[var(--article-container-size)] px-[var(--article-gutter-size)];
  @apply mb-12;
}

.content li {
  @apply mb-4 ml-6 pl-4;
}

.content li p {
  @apply m-0 p-0;
}

.content ul li {
  @apply list-disc;
}

.content ol li {
  @apply list-decimal;
}

.content section.footnotes li p {
  @apply w-full;
}

.content pre {
  @apply mx-[var(--article-gutter-size)] w-[var(--article-container-size)];
  @apply mb-12 p-4;
  @apply text-sm sm:text-base;
  @apply rounded-lg border border-neutral-300 dark:border-neutral-600;
  @apply [counter-reset:_line];
  @apply overflow-x-auto;
}

.content table {
  @apply mx-auto w-[var(--article-container-size)] px-[var(--article-gutter-size)];
  @apply mb-12;
}

/* For inline code tag */
.content code:not(pre code) {
  @apply bg-neutral-200 text-neutral-700;
  @apply before:content-none after:content-none;
  @apply rounded-md px-1 py-0.5;
  @apply border border-neutral-300 dark:border-neutral-600;
  @apply dark:bg-neutral-800 dark:text-neutral-200;
  @apply whitespace-nowrap;
}

.content pre .line::before {
  @apply content-[counter(line)] [counter-increment:_line];
  @apply mr-4 inline-block w-4 text-right;
  @apply text-neutral-300 dark:text-neutral-600;
}

.title {
  @apply w-full max-w-2xl;
  @apply mx-0 px-[var(--gutter-size)] sm:mx-auto sm:px-0;
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
  @apply font-bold lg:font-black;
  @apply text-neutral-950 dark:text-neutral-50;
}
